body{
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 0;
}

.cabecalho{
    border-top: 1px solid #fff;
    background-image: url(../ArquivoAula/imagens/bg-3.jpg);
    height: 500px;
    background-position: center right;    
    background-attachment: fixed;
    background-size: cover;
}
ul{
    list-style: none;
    color: #fff;
    text-align: right;
    padding: 15px;
}

ul li{
    display: inline-block;
    margin-left:10px ;
}

ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

a:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.titulo{
    color: #fff;
    text-align: center;
    margin-top: 150px;
}

.titulo h1{
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #333;
    letter-spacing: 2px;
    font-size: 45px;
}

.titulo p{
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    border-radius: 20px;
    padding: 12px;
    text-decoration: underline;
}

main{
    width: 80%;
    margin: auto;
}

section{
    margin-top: 15px;
    background-color: #fff;
    padding: 15px;
}

header h2{
    margin: 0;
    background-color: #eee;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

footer{
    margin-top: 15px;
    background-color: #888;
    text-align: center;
    height: 60px;
    margin-bottom: 0;
    line-height:60px;
}

footer p{
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #555;
}